* {
	border: 0;
	margin: 0;
}

html,
body {
	/* overflow: hidden; */
	height: 100vh;
}

/* Form elements */
.border {
	padding: 8px;
}

.border:hover {
	border: 1px dashed rgba(143, 142, 199, 0.5) !important;
}

/* .cursor {
	cursor: grab;
}

.form-control {
	cursor: inherit;
}

.form-label {
	cursor: inherit;
} */

.build-zone {
	margin-top: 68px;
	padding-top: 20px;
	width: 50vw;
	height: 75vh;
	text-align: center;
	overflow: scroll;
}

.lead {
	font-size: 24px;
	padding-top: 100px;
}

.fill-height {
	height: calc(100vh - 88px) !important;
}

.field-element {
	color: #7c7b7b;
	padding: 1rem;
}

.field-element:hover {
	background-color: rgb(232, 236, 236);
	border-radius: 10px;
	cursor: grab;
	border: 2px dashed rgba(143, 142, 199, 0.5);
}

.field-text {
	margin-left: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.green-background {
	background-color: green;
}
